@import url('../css/fonts.css');
html,
body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    /*      Theme colors        */
    --white: #ffffff;
    --midnight: #104f55;
    /*      theme font-family   */
    --Abel: 'Abel', cursive;
    --True-Lies: 'True-Lies', cursive;
    --Anton: 'Anton', cursive;
    --Josefin: 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic: 'Livvic', cursive;
    --GloriaHallelujah-Regular: 'GloriaHallelujah-Regular', cursive;
}


/* Global Classes*/

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h1 {
    font-family: var(--Livvic);
    font-size: 2.5rem;
}

h2 {
    font-family: var(--Lexend);
}

h3 {
    font-family: var(--TrueLays);
    font-size: 1.3rem;
}

span {
    font-family: var(--Abel);
}

.container {
    margin: 0 5vw;
}

p {
    font-family: var(--Lexend);
    color: var(--text-light);
}


/* Global Classes*/


/* nav bar*/

.nav {
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 5;
    transition: all 0.5s ease-in-out;
    font-weight: 400;
    background-color: #292f36;
}

.my-name {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    border: 3px;
    border-style: solid;
    border-color: white;
    padding: 3px;
    text-transform: uppercase;
}

.nav--active .nav {
    opacity: 1;
    background: #292f36;
}

.nav__list {
    display: flex;
    align-items: baseline;
    text-transform: uppercase;
    justify-content: space-around;
    flex-direction: row;
    padding: 1em 0.5em;
}

.nav__item {
    list-style-type: none;
}

.nav .nav__item:hover {
    color: var(--white);
}

.nav__link {
    font-size: 1.5em;
    text-decoration: none;
    color: #f7faff;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.nav__link:hover {
    color: #f7faff;
}


/* navigation icon */

.nav__trigger {
    display: none;
    position: fixed;
    width: 30px;
    height: 25px;
    right: 100px;
    top: 50px;
    z-index: 200;
}

@media (max-width: 768px) {
    .nav__trigger {
        display: block;
        top: 50px;
        right: 30px;
    }
    .nav {
        transform: translateX(-100%);
        width: 100%;
        height: 100%;
        z-index: 100;
        opacity: 0;
    }
    .nav__item {
        text-align: left;
        padding: 30px 10px;
    }
    .nav__list {
        margin: 0;
        padding: 10px;
        flex-direction: column;
        align-items: center;
    }
    .nav__link {
        opacity: 0;
    }
}

.nav--active .nav__trigger {
    opacity: 0.5;
}

.nav__icon {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 5px;
    background: linear-gradient(green, black);
    transition-property: background-color, transform;
    transition-duration: 0.5s;
}

.nav__icon:before,
.nav__icon:after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    position: absolute;
    background: linear-gradient(green, black);
    transition-property: margin, transform;
    transition-duration: 0.5s;
}

.nav__icon:before {
    margin-top: -10px;
}

.nav__icon:after {
    margin-top: 10px;
}

.nav__link {
    transition-delay: 500ms;
}

.nav--active .nav__link {
    opacity: 1;
}

.nav--active .nav__list {
    margin-top: 80px;
}

.nav--active .nav {
    transition: all 300ms ease-in-out;
    transform: translateX(0);
}

.nav--active .nav__icon {
    background: rgba(0, 0, 0, 0);
}

.nav--active .nav__icon:before {
    margin-top: 0;
    transform: rotate(45deg);
}

.nav--active .nav__icon:after {
    margin-top: 0;
    transform: rotate(-45deg);
}

.nav.scrolled {
    background: green;
    transition: 0.5s ease-in-out;
    -webkit-box-shadow: 0px 5px 7px -1px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: 0px 5px 7px -1px rgba(0, 0, 0, 0.62);
    box-shadow: 0px 5px 7px -1px rgba(0, 0, 0, 0.62);
}

.nav__list.scrolled {
    padding: 10px;
}


/* Nav bar*/


/* Main Content*/


/* Site title*/

main .site-title {
    background: url('../assets/JamerBackground.png');
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main .site-title img {
    border-radius: 50%;
    border: 10px solid green;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    height: 200px;
    width: 200px;
}

main .site-title .site-background {
    padding-top: 10rem;
    text-align: center;
    color: var(--bg-color);
}

.site-title .site-background h2 {
    border: white;
    border-width: 5px;
    border-style: solid;
    color: white;
    animation: rotation 2s alternate;
}

@keyframes rotation {
    from {
        transform: rotate(719deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.site-title .site-background h1 {
    color: white;
    animation: rotation1 2s alternate;
}

@keyframes rotation1 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(719deg);
    }
}

.site-title .site-background img {
    background: red;
    position: relative;
    -webkit-animation: myfirst 5s alternate;
    /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate;
    /* Chrome, Safari, Opera */
    animation: myfirst 5s alternate;
    animation-direction: alternate;
}

@-webkit-keyframes myfirst {
    0% {
        left: 0px;
        top: 0px;
    }
    25% {
        bottom: 500px;
        top: 0px;
    }
    50% {
        bottom: 500px;
        top: 500px;
    }
    75% {
        bottom: 500px;
        top: 500px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

@keyframes myfirst {
    0% {
        left: 0px;
        top: 0px;
    }
    25% {
        bottom: 500px;
        top: 0px;
    }
    50% {
        bottom: 500px;
        top: 200px;
    }
    75% {
        bottom: 500px;
        top: 500px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

main .site-title h3 {
    margin: 1rem;
    background-color: white;
    border: 2px solid green;
    border-radius: 25px;
    color: var(--black);
    width: 250px;
}

main .site-title .btn {
    margin: 1.8rem;
    background: green;
    color: white;
}

main .site-title .btn:hover {
    background: white;
    border: 1px solid var(--white);
    color: var(--bg-color);
}


/* Main Content*/


/* Footer*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

footer {
    width: 100%;
    background: #202020;
    color: white;
}

.container-footer-all {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body {
    display: flex;
    justify-content: space-between;
}

.colum1 {
    max-width: 400px;
}

.colum1 h1 {
    font-size: 22px;
}

.colum1 p {
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum3 {
    max-width: 400px;
}

.colum3 h1 {
    font-size: 22px;
}

.row2 {
    margin-top: 20px;
    display: flex;
}

.row2 img {
    width: 36px;
    height: 36px;
}

.row2 label {
    margin-top: 10px;
    margin-left: 20px;
    max-width: 180px;
}

.container-footer {
    width: 100%;
    background: #101010;
}

.footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright {
    color: #C7C7C7;
}

.copyright a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.move-up {
    position: relative;
}

.move-up span {
    color: green;
    margin-left: 20px;
}

.move-up span:hover {
    color: var(--white);
    cursor: pointer;
}

.information a {
    text-decoration: none;
    color: #C7C7C7;
}

@media screen and (max-width: 1100px) {
    .container-body {
        flex-wrap: wrap;
    }
    .colum1 {
        max-width: 100%;
    }
    .colum3 {
        margin-top: 40px;
    }
}


/* Footer*/


/*  Viewport less then or equal to 1130px  */

@media only screen and (max-width: 1130px) {
    .site-content .post-content>.post-image .post-info {
        left: 2rem !important;
        bottom: 1.2rem !important;
        border-radius: 0% !important;
    }
    .site-content .sidebar .popular-post .post-info {
        display: none !important;
    }
    footer.footer .container {
        grid-template-columns: repeat(2, 1fr);
    }
}


/*footer*/